---
import "../styles/global.css";
---

<div>
	<header class="m-5 grid grid-cols-6 place-items-center gap-3">
		<h1 class="font-medium">PhishSlayer</h1>
		<a href="#" class="hover:underline">Service</a>
		<a href="#" class="hover:underline">Functionality</a>
		<a href="#" class="hover:underline">Usage</a>
		<a href="#" class="hover:underline">Sign in</a>
		<a href="#" class="hover:underline">Sign up</a>
	</header>
	
	<main class="m-10 flex flex-col place-items-center justify-center">
		<h2 class="m-5 mt-20 mb-5 text-6xl font-bold xl:text-7xl">Set your link</h2>
		<form class="flex flex-col place-items-center">
			<input required type="url" name="link" placeholder="malicious-link.com" id="link" class="w-fit rounded-xl border-2 border-blue-100 p-2" />
			<button type="submit" class="m-5 mx-56 rounded-xl bg-blue-500 p-2 font-bold text-white">Detect maliciousness</button>
		</form>
	</main>
	
	<section class="m-10 mt-25 mb-25 xl:mx-[30rem]">
		<h2 class="text-4xl font-bold xl:text-5xl">What is PhishSlayer</h2>
		<p class="text-lg font-medium xl:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sequi eos sit error sunt aspernatur distinctio deleniti molestias at alias?</p>
	</section>

	<article class="m-10 grid grid-cols-4 gap-4">
		<div class="col-span-3 h-48 rounded-xl bg-gradient-to-tr from-blue-100 xl:h-96"></div>
		<div class="col-span-1 h-48 rounded-xl bg-gradient-to-tr from-blue-200 xl:h-96"></div>
		<div class="col-span-2 h-48 rounded-xl bg-gradient-to-tr from-blue-300 xl:h-96"></div>
		<div class="col-span-2 h-48 rounded-xl bg-gradient-to-tr from-blue-400 xl:h-96"></div>
		<div class="col-span-1 h-48 rounded-xl bg-gradient-to-tr from-blue-500 xl:h-80"></div>
		<div class="col-span-3 h-48 rounded-xl bg-gradient-to-tr from-blue-600 xl:h-80"></div>
	</article>

	<article class="m-10 my-25 h-auto rounded-xl bg-blue-50 p-10 shadow-xs xl:mx-96">
		<h2 class="text-4xl font-semibold xl:text-5xl">How it works</h2>
		<p class="text-lg font-normal xl:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sequi eos sit error sunt aspernatur distinctio deleniti molestias at alias?</p>
	</article>

	<article class="m-10 mt-25 flex flex-col justify-center">
		<h2 class="my-5 text-center text-4xl font-semibold xl:text-5xl">Why PhishSlayer</h2>
		<div class="grid grid-cols-2 gap-4 xl:mx-72">
			<div class="col-span-1 h-52 rounded-xl bg-gradient-to-tr to-blue-800 xl:h-96"></div>
			<div class="col-span-1 h-52 rounded-xl bg-gradient-to-tr from-blue-900 xl:h-96"></div>
			<div class="col-span-1 h-52 rounded-xl bg-gradient-to-tr from-blue-700 xl:h-96"></div>
			<div class="col-span-1 h-52 rounded-xl bg-gradient-to-tr from-blue-600 xl:h-96"></div>
		</div>
	</article>

	<footer class="mt-50 mb-7">
		<section class="my-25 flex flex-col place-items-center">
			<h2 class="m-5 mx-40 text-6xl font-semibold xl:mx-40">Enjoy your favorite sites without being tracked or logged in</h2>
			<p class="mx-40 text-xl font-normal">Stay ahead of malicious links and find security in AI detection effortlessly with Phishslayer today!</p>
			<button type="submit" class="m-5 mx-48 w-40 rounded-xl bg-blue-500 p-2 font-bold text-white">Sign up</button>
		</section>
	
		<section class="mx-25 mt-25 grid grid-cols-5 place-items-center gap-10">
			<div class="">
			<img src="https://static.vecteezy.com/system/resources/previews/019/637/202/non_2x/blue-tape-circle-logo-icon-free-png" alt="description" width="100" height="100" />
			</div>
			<a href="https://github.com/oxtornado/PhishSlayer-AI" class="hover:underline">Info.</a>
			<a href="https://github.com/midudev/hackaton-clerk-2025/issues/8" class="hover:underline">Creators</a>
			<a href="#" class="">Used API</a>
			<a href="#" class="">Social</a>
		</section>
	</footer>
</div>  